<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>

<div class="container mt-5 mb-5">
    <form action="/api/v1/add" method="post">
        <textarea name="text" placeholder="Текст заметки" class="form-control"></textarea><br>
        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>

</div>


</body>
</html>

