<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Лента новостей</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
<div class="container mt-5">
    <div th:each="el : ${note_by_id}" class="alert alert-info mt-2">
        <p th:text="${el.text}"/>
        Дата публикации: <p th:text="${el.publicationDate}"/>
        Дата изменения: <p th:text="${el.changeDate}"/>
        <a th:href="'/api/v1/update/' + ${el.id}" class="btn btn-warning">Редактировать</a><br><br>
        <form th:action="'/api/v1/delete/' + ${el.id}" method="post">
            <button class="btn btn-warning" type="submit">Удалить</button>
        </form>
    </div>
</div>
</body>
</html>

